# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Logs
logs/
mprocs.log

# Deployment artifacts
deployments/
deployment.json
deployment.json.tmp

# Broadcast files (except for mainnet)
/broadcast/
